{% load static %}


<div class='app-header header-shadow bg-heavy-rain header-text-dark'>
    <div class='app-header__logo'>
        <a class='navbar-brand logo-src' href="{% url 'index' %}">
            <img class='logo' src="{% static '/images/logo.png' %}" alt='Logo'>
        </a>
        <div class='header__pane ml-auto'>
            <div>
                <button type='button' class='hamburger close-sidebar-btn hamburger--elastic' data-class='closed-sidebar'>
                    <span class='hamburger-box'>
                        <span class='hamburger-inner'></span>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class='app-header__mobile-menu'>
        <div>
            <button type='button' class='hamburger hamburger--elastic mobile-toggle-nav'>
                <span class='hamburger-box'>
                    <span class='hamburger-inner'></span>
                </span>
            </button>
        </div>
    </div>

    <div class='app-header__menu'>
        <span>
            <button type='button' class='btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav'>
                <span class='btn-icon-wrapper'>
                    <i class='fa fa-ellipsis-v fa-w-6'></i>
                </span>
            </button>
        </span>
    </div>

    <div class='app-header__content'>
        <div class='app-header-left'>
            <div class='search-wrapper'>
                <div class='input-holder'>
                    <input type='text' class='search-input' placeholder='Type to search' aria-label='Search'>
                    <button class='search-icon'><span></span></button>
                </div>
                <button class='close'></button>
            </div>

            <div class='header-megamenu nav'>
                <div class="nav-item">
                    <a href="javascript:void(0);" data-placement="bottom" rel="popover-focus" data-offset="300" data-toggle="popover-custom" class="nav-link" data-original-title="" title="">
                        <i class="nav-link-icon pe-7s-gift"> </i> 메가 메뉴
                        <i class="fa fa-angle-down ml-2 opacity-5"></i>
                    </a>
                    <div class="rm-max-width">
                        <div class="d-none popover-custom-content">
                            <div class="dropdown-mega-menu">
                                <div class="grid-menu grid-menu-3col">
                                    <div class="no-gutters row">
                                        <div class="col-sm-6 col-xl-4">
                                            <div class="nav flex-column">
                                                <div class="nav-item-header nav-item">
                                                    <i class='pe-7s-menu'></i> 메인 메뉴
                                                </div>
                                                <a class='nav-link' href="{% url 'compare' %}">
                                                    <i class='nav-link-icon pe-7s-copy-file'></i>
                                                    <span> 파일비교</span>
                                                </a>
                                                <a class='nav-link' href="{% url 'url_parse' %}">
                                                    <i class='nav-link-icon pe-7s-browser'></i>
                                                    <span> 링크 투 파일</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xl-4">
                                            <div class="nav flex-column">
                                                <div class="nav-item-header nav-item">
                                                    <i class='pe-7s-graph'></i> 트래픽 분석
                                                </div>
                                                <a class='nav-link' href="{% url 'traffic' %}">
                                                    <i class='nav-link-icon pe-7s-rocket'></i>
                                                    <span> 대시보드</span>
                                                </a>
                                                <a href="{% url 'tour_api' %}" class="nav-item nav-link">
                                                    <i class="nav-link-icon pe-7s-plane"></i>
                                                    <span> 투어 API</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xl-4">
                                            <div class="nav flex-column">
                                                <div class="nav-item-header nav-item">
                                                    <i class='pe-7s-info'></i> Blank
                                                </div>
                                                <a href="#" class="nav-item nav-link">
                                                    <i class="nav-link-icon pe-7s-info"></i>
                                                    <span> Blank</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='app-header-right'>
            <div class='header-dots'>
                <div class='dropdown'>
                    <button type='button' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown' class='p-0 mr-2 btn btn-link'>
                        <span class='icon-wrapper icon-wrapper-alt rounded-circle'>
                            <span class='icon-wrapper-bg bg-primary'></span>
                            <i class='pe-7s-gift text-primary'></i>
                        </span>
                    </button>

                    <div tabindex='-1' role='menu' aria-hidden='true' class='dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right'>
                        <div class='dropdown-menu-header'>
                            <div class='dropdown-menu-header-inner bg-plum-plate'>
                                <div class='menu-header-image'></div>
                                <div class='menu-header-content text-white'>
                                    <h5 class='menu-header-title'>메가 메뉴</h5>
                                    <h6 class='menu-header-subtitle'>모든것을 한눈에!!</h6>
                                </div>
                            </div>
                        </div>

                        <div class='grid-menu grid-menu-xl grid-menu-3col'>
                            <div class='no-gutters row'>
                                <div class='col-sm-6 col-xl-4'>
                                    <a class='btn-icon-vertical btn-square btn-transition btn btn-outline-link' href='{% url 'compare' %}'>
                                        <i class='pe-7s-copy-file btn-icon-wrapper btn-icon-lg mb-3'></i> 파일비교
                                    </a>
                                </div>
                                <div class='col-sm-6 col-xl-4'>
                                    <a class='btn-icon-vertical btn-square btn-transition btn btn-outline-link' href='{% url 'url_parse' %}'>
                                        <i class='pe-7s-browser btn-icon-wrapper btn-icon-lg mb-3'> </i> 링크 투 파일
                                    </a>
                                </div>
                                <div class='col-sm-6 col-xl-4'>
                                    <a class='btn-icon-vertical btn-square btn-transition btn btn-outline-link' href="{% url 'traffic' %}">
                                        <i class='pe-7s-rocket btn-icon-wrapper btn-icon-lg mb-3'> </i> 대시보드
                                    </a>
                                </div>

                                <div class='col-sm-6 col-xl-4'>
                                    <a class='btn-icon-vertical btn-square btn-transition btn btn-outline-link' href="{% url 'tour_api' %}" >
                                        <i class='pe-7s-plane btn-icon-wrapper btn-icon-lg mb-3'></i> 투어 API
                                    </a>
                                </div>
                                <div class='col-sm-6 col-xl-4'>
                                    <a class='btn-icon-vertical btn-square btn-transition btn btn-outline-link' href='#'>
                                        <i class='pe-7s-config btn-icon-wrapper btn-icon-lg mb-3'> </i> Settings
                                    </a>
                                </div>
                                <div class='col-sm-6 col-xl-4'>
                                    <a class='btn-icon-vertical btn-square btn-transition btn btn-outline-link' href='#'>
                                        <i class='pe-7s-world btn-icon-wrapper btn-icon-lg mb-3'> </i> Contacts
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='dropdown'>
                    <button type='button' aria-haspopup='true' aria-expanded='false' data-bs-toggle='dropdown' class='p-0 mr-2 btn btn-link'>
                        <span class='icon-wrapper icon-wrapper-alt rounded-circle'>
                            <span class='icon-wrapper-bg bg-danger'></span>
                            <i class='pe-7s-bell text-danger'></i>
                            <span class='badge badge-dot badge-dot-sm badge-danger'>Notifications</span>
                        </span>
                    </button>

                    <div tabindex='-1' role='menu' aria-hidden='true' class='dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right'>
                        <div class='dropdown-menu-header mb-0'>
                            <div class='dropdown-menu-header-inner bg-deep-blue'>
                                <div class='menu-header-content text-dark'>
                                    <h5 class='menu-header-title'>Notifications</h5>
                                    <h6 class='menu-header-subtitle'>You have <b>21</b> unread messages</h6>
                                </div>
                            </div>
                        </div>

                        <div class='tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3'>
                            <a role='tab' class='nav-item nav-link active' data-bs-toggle='tab' href='#tab-messages-header'>
                                <span>Messages</span>
                            </a>
                            <a role='tab' class='nav-item nav-link' data-bs-toggle='tab' href='#tab-errors-header'>
                                <span>System Errors</span>
                            </a>
                        </div>

                        <div class='tab-content'>
                            <div class='tab-pane active' id='tab-messages-header' role='tabpanel'>
                                <div class='scroll-area-sm'>
                                    <div class='scrollbar-container ps'>
                                        <div class='p-3'>
                                            <div class='notifications-box'>
                                                <div class='vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--one-column'>
                                                    <div class='vertical-timeline-item dot-danger vertical-timeline-element'>
                                                        <div><span class='vertical-timeline-element-icon bounce-in'></span>
                                                            <div class='vertical-timeline-element-content bounce-in'>
                                                                <h4 class='timeline-title'>All Hands Meeting</h4>
                                                                <span class='vertical-timeline-element-date'></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='vertical-timeline-item dot-warning vertical-timeline-element'>
                                                        <div>
                                                            <span class='vertical-timeline-element-icon bounce-in'></span>
                                                            <div class='vertical-timeline-element-content bounce-in'>
                                                                <p>Yet another one, at <span class='text-success'>15:00 PM</span></p>
                                                                <span class='vertical-timeline-element-date'></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='tab-pane' id='tab-errors-header' role='tabpanel'>
                                <div class='scroll-area-sm'>
                                    <div class='scrollbar-container ps'>
                                        <div class='no-results pt-3 pb-0'>
                                            <div class='swal2-icon swal2-success swal2-animate-success-icon'>
                                                <span class='swal2-success-line-tip'></span>
                                                <span class='swal2-success-line-long'></span>
                                                <div class='swal2-success-ring'></div>
                                            </div>
                                            <div class='results-subtitle'>All caught up!</div>
                                            <div class='results-title'>There are no system errors!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='nav flex-column'>
                            <div class='nav-item-divider nav-item'></div>
                            <div class='nav-item-btn text-center nav-item'>
                                <button class='btn-shadow btn-wide btn-pill btn btn-focus btn-sm'>View Latest Changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='dropdown'>
                    <button type='button' data-bs-toggle='dropdown' class='p-0 mr-2 btn btn-link'>
                        <span class='icon-wrapper icon-wrapper-alt rounded-circle'>
                            <span class='icon-wrapper-bg bg-info'></span>
                            <i class='pe-7s-global text-info'></i>
                        </span>
                    </button>

                    <div tabindex='-1' role='menu' aria-hidden='true' class='rm-pointers dropdown-menu dropdown-menu-right'>
                        <div class='dropdown-menu-header'>
                            <div class='dropdown-menu-header-inner pt-4 pb-4 bg-focus'>
                                <div class='menu-header-content text-center text-white'>
                                    <h6 class='menu-header-subtitle mt-0'> Choose Language</h6>
                                </div>
                            </div>
                        </div>
                        <button type='button' tabindex='0' class='dropdown-item'>Korean</button>
                        <button type='button' tabindex='0' class='dropdown-item'>English</button>
                    </div>
                </div>
            </div>

            <div class='header-btn-lg pr-0'>
                <div class='widget-content p-0'>
                    <div class='widget-content-wrapper'>
                        <div class='widget-content-left'>
                            <div class='btn-group'>
                                {% if user and user.is_authenticated %}
                                    <a data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' class='p-0 btn inline'>
                                        <img width='42' class='rounded-circle' src="{% static '/images/user.png' %}" alt='User'>
                                        <i class='fa fa-angle-down ml-2 opacity-8'></i>
                                    </a>
                                    <div tabindex='-1' role='menu' aria-hidden='true' class='rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right'>
                                        <div class='dropdown-menu-header'>
                                            <div class='dropdown-menu-header-inner bg-info'>
                                                <div class='menu-header-content text-left'>
                                                    <div class='widget-content p-0'>
                                                        <div class='widget-content-wrapper'>
                                                            <div class='widget-content-left mr-3'>
                                                                <img width='42' class='rounded-circle' src="{% static '/images/user.png' %}" alt='User'>
                                                            </div>
                                                            <div class='widget-content-left'>
                                                                <div class='widget-heading'>{{ user }}</div>
                                                                <div class='widget-subheading opacity-8'>Title: {{ user.title }}</div>
                                                            </div>
                                                            <div class='widget-content-right mr-2'>
                                                                <a class='btn-pill btn-shadow btn-shine btn btn-focus' href="{% url 'logout' %}">로그아웃</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class='scroll-area-xs'>
                                            <div class='scrollbar-container ps'>
                                                <div class='nav flex-column'>
                                                    <div class='nav-item-header nav-item'>Activity</div>
                                                    <a class='nav-item nav-link' href="{% url 'profile' user.id %}">프로필</a>
                                                    {% if user.is_admin %}
                                                        <a class='nav-item nav-link' href="{% url 'admin:index' %}">관리자 대시보드</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav flex-column nav-item-divider mb-0 nav-item"></div>
                                        <div class="grid-menu grid-menu-2col">
                                            <div class="no-gutters row">
                                                <div class="col-sm-6">
                                                    <a class='btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning' href="#">
                                                        <i class="pe-7s-chat btn-icon-wrapper mb-2"></i> 대화 내역
                                                    </a>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">
                                                        <i class="pe-7s-ticket btn-icon-wrapper mb-2"></i> Support Tickets
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class='widget-content-left ml-3'>
                                        <div class='widget-heading pb-0'>{{ user }}</div>
                                        <div class='widget-subheading pt-0'>Title: {{ user.title }}</div>
                                    </div>

                                {% else %}

                                    <div class='widget-content-left ml-3'>
                                        <a class='nav-link' href="{% url 'login' %}">로그인</a>
                                        <a class='nav-link' href="{% url 'signup' %}">가입</a>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>