{% load static %}


<nav class='navbar navbar-expand navbar-dark navbar-fixed-top bg-secondary justify-content-between'>
    <div class='container-fluid d-flex bd-highlight'>
        <a class='navbar-brand' href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" width='150' height='30' class='d-inline-block align-top' alt='Logo'>
        </a>

        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse d-flex bd-highlight' id='navbar'>
            <div class='navbar-nav me-auto'>
                <div class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                        쿠팡 파트너즈
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href="{% url 'index' %}">대시보드</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='https://partners.coupang.com/#affiliate'>쿠팡 사이트</a><!--blank-->
                    </div>
                </div>
                <a class='nav-link' href="{% url 'compare' %}">파일비교</a>
                <a class='nav-link' href="{% url 'url_parse' %}">링크 투 파일</a>
                <a class='nav-link' href="{% url 'index' %}">트래픽 분석</a>
            </div>
            
            <div class='navbar-nav ms-auto'>
                {% if user and user.is_authenticated %}

                    <div class='nav-item dropdown'>
                        <a class='nav-link dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>{{ user }}</a>
                        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                            <a class='dropdown-item' href="{% url 'logout' %}">로그아웃</a>
                            <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href='#'>Others</a>
                            {% if user.is_admin %}
                                <a class='dropdown-item' href="{% url 'admin:index' %}">관리자 대시보드</a>
                            {% endif %}
                        </div>
                    </div>

                {% else %}

                    <a class='nav-link' href="{% url 'login' %}">로그인</a>
                    <a class='nav-link' href="{% url 'signup' %}">가입</a>

                {% endif %}
            </div>
        </div>
    </div>
</nav>
