{% extends 'base.html' %}


{% block style %}
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css'>
{% endblock %}


{% block content %}
    <iframe id="galaxyIframe" name="galaxy" style="width: 1663px; height: 435px; top: 64px; left: 257px; display: block;" class="visible"
            src="https://ga-dev-tools.appspot.com/embed-api/basic-dashboard/"></iframe>

    <div class="Dashboard">
        <div id="embed-api-auth-container"></div>
        <div class="Chart">
            <header class="Titles">
                <h1 class="Titles-main">Sessions</h1>
                <p class="Titles-sub">Last 30 days</p>
            </header>
            <figure id="chart-container"></figure>
        </div>
        <div class="ViewSelector" id="view-selector-container"></div>
    </div>
{% endblock %}`


{% block script %}
    <script src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script crossorigin="anonymous">
        gtag('get', 'UA-188561512-1', 'client_id', function (token) {
            gapi.analytics.ready(function () {
                gapi.analytics.auth.authorize({
                    container: 'embed-api-auth-container',
                    clientid: token
                });

                /* Create a new ViewSelector instance to be rendered inside of an
                 * element with the id "view-selector-container". */
                const viewSelector = new gapi.analytics.ViewSelector({
                    container: 'view-selector-container'
                });

                /* Render the view selector to the page. */
                viewSelector.execute();

                /* Create a new DataChart instance with the given query parameters
                 * and Google chart options. It will be rendered inside an element
                 * with the id "chart-container". */
                const dataChart = new gapi.analytics.googleCharts.DataChart({
                    query: {
                        metrics: 'ga:sessions',
                        dimensions: 'ga:date',
                        'start-date': '30daysAgo',
                        'end-date': 'yesterday'
                    },
                    chart: {
                        container: 'chart-container',
                        type: 'LINE',
                        options: {
                            width: '100%'
                        }
                    }
                });

                /* Render the dataChart on the page whenever a new view is selected. */
                viewSelector.on('change', function (ids) {
                    dataChart.set({query: {ids: ids}}).execute();
                });
            });
        });

        const getMethods = (obj) => {
            let properties = new Set()
            let currentObj = obj
            do {
                Object.getOwnPropertyNames(currentObj).map(item => properties.add(item))
            } while ((currentObj = Object.getPrototypeOf(currentObj)))
            return [...properties.keys()].filter(item => typeof obj[item] === 'function')
        }
    </script>

{% endblock %}
