{% extends 'base.html' %}


{% block style %}
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css'>
{% endblock %}


{% block content %}
    <div id="chart-1-container"></div>
    <div id="chart-2-container"></div>
{% endblock %}


{% block script %}
    <script src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script>
        gapi.analytics.ready(function () {
            const CLIENT_ID = '117503275351610672621';

            /*gapi.analytics.auth.authorize({
                container: 'auth-button',
                clientid: CLIENT_ID,
            });*/
            gapi.analytics.auth.authorize({
                'serverAuth': {
                    'access_token': '{{ google_access_token }}'
                }
            });

            const dataChart1 = new gapi.analytics.googleCharts.DataChart({
                query: {
                    'ids': '{{ google_userid }}',
                    'start-date': '30daysAgo',
                    'end-date': 'today',
                    'metrics': 'ga:sessions',
                    'dimensions': 'ga:date',
                    'sort': '-ga:date'
                },
                chart: {
                    'container': 'chart-1-container',
                    'type': 'LINE',
                    'options': {
                        'width': '100%'
                    }
                }
            });
            dataChart1.execute();
        });
    </script>

{% endblock %}
