{% extends 'base.html' %}


{% block style %}
<link rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css'>
{% endblock %}


{% block content %}
<form method='POST' action="{% url 'url_parse' %}">
    <div class='card-header d-flex align-items-center justify-content-between'>
        <h5 class='my-2'>링크 삽입</h5>

        <div class='align-items-right my-2'>
            <div class='navbar-nav ml-auto'>
                <button class='nav-item btn btn-primary' type='submit'>
                    <i class='fa fa-exchange'></i> 구문 분석
                </button>
                <!--button class='nav-item btn btn-primary' type='submit'>결과 보기</button-->
            </div>
        </div>
    </div>

    <div class='card-body container'>
        <div class='row'>
            <div class='col'>
                <label for='link'>URL 링크: (예시: https://1688.com)</label>
                  <!-- TODO: remove test link -->
                <input type='url' class='form-control' id='link' name='link' value='{% if request_param %}{{ request_param.link }}{% else %}http://{% endif %}' required/>
            </div>
        </div>

        <div class='row'>
            <div class='col-6'>
                <label for='username'>사용자 이름: </label>
                <input type='text' class='form-control' id='username' name='username' value='{% if request_param %}{{ request_param.username }}{% endif %}'/>
            </div>

            <div class='col-6'>
                <label for='link'>비밀번호: </label>
                <input type='password' class='form-control' id='password' name='password' value='{% if request_param %}{{ request_param.password }}{% endif %}'/>
            </div>
        </div>

        {% if data %}
        <div class='row'>
            <div class='col'>
                {{ data.read | safe }}
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}


{% block script %}
<script src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'></script>
<script>
    $(document).ready(function () {
        $('.dataTable').DataTable();
    });

    $("input[name='link']").keydown(function(e) {
        var oldvalue=$(this).val();
        var field=this;
        setTimeout(function () {
            if(field.value.indexOf('http://') !== 0) {
                $(field).val(oldvalue);
            }
        }, 1);
    });
</script>
{% endblock %}
