{% extends 'base.html' %}


{% block style %}
<link rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css'>
{% endblock %}


{% block content %}
<div class='card-header d-flex align-items-center justify-content-between'>
    <h5 class='my-2'>
        <i class='header-icon lnr-charts icon-gradient bg-happy-green'> </i>
        Portfolio Performance
    </h5>

    <div class='align-items-right my-2'>
        <div class='navbar-nav ml-auto'>
            <button class='nav-item btn btn-primary' type='button'>View All</button>
        </div>
    </div>
</div>

<div class='no-gutters row'>
    <div class='col-sm-6 col-md-4 col-xl-4'>
        <div class='no-shadow rm-border bg-transparent widget-chart text-left'>
            <div class='icon-wrapper rounded-circle'>
                <div class='icon-wrapper-bg opacity-10 bg-warning'></div>
                <i class='lnr-laptop-phone text-dark opacity-8'></i>
            </div>

            <div class='widget-chart-content'>
                <div class='widget-subheading'>Cash Deposits</div>
                <div class='widget-numbers'>1,7M</div>

                <div class='widget-description opacity-8 text-focus'>
                    <div class='d-inline text-danger pr-1'>
                        <i class='fa fa-angle-down'></i>
                        <span class='pl-1'>54.1%</span>
                    </div>
                    less earnings
                </div>
            </div>
        </div>

        <div class='divider m-0 d-md-none d-sm-block'></div>
    </div>

    <div class='col-sm-6 col-md-4 col-xl-4'>
        <div class='no-shadow rm-border bg-transparent widget-chart text-left'>
            <div class='icon-wrapper rounded-circle'>
                <div class='icon-wrapper-bg opacity-9 bg-danger'></div>
                <i class='lnr-graduation-hat text-white'></i>
            </div>

            <div class='widget-chart-content'>
                <div class='widget-subheading'>Invested Dividents</div>

                <div class='widget-numbers'>
                    <span>9M</span>
                </div>

                <div class='widget-description opacity-8 text-focus'>
                    Grow Rate:
                    <span class='text-info pl-1'>
                        <i class='fa fa-angle-down'></i>
                        <span class='pl-1'>14.1%</span>
                    </span>
                </div>
            </div>
        </div>

        <div class='divider m-0 d-md-none d-sm-block'></div>
    </div>

    <div class='col-sm-12 col-md-4 col-xl-4'>
        <div class='no-shadow rm-border bg-transparent widget-chart text-left'>
            <div class='icon-wrapper rounded-circle'>
                <div class='icon-wrapper-bg opacity-9 bg-success'></div>
                <i class='lnr-apartment text-white'></i>
            </div>

            <div class='widget-chart-content'>
                <div class='widget-subheading'>Capital Gains</div>

                <div class='widget-numbers text-success'>
                    <span>$563</span>
                </div>

                <div class='widget-description text-focus'>
                    Increased by
                    <span class='text-warning pl-1'>
                        <i class='fa fa-angle-up'></i>
                        <span class='pl-1'>7.35%</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='text-center d-block p-3 card-footer'>
    <button class='btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg'>
        <span class='mr-2 opacity-7'>
            <i class='icon icon-anim-pulse ion-ios-analytics-outline'></i>
        </span>

        <span class='mr-1'>View Complete Report</span>
    </button>
</div>
{% endblock %}


{% block script %}
<script src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'></script>
<script>
    $(document).ready(function () {
        $('.dataTable').DataTable();
    });
</script>
{% endblock %}
