{% extends 'base_site.html' %}
{% load static %}


{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} |{{ site_title|default:_('Django site admin') }}
{% endblock %}


{% block nav-global %}{% endblock %}


{% block main-content %}
    <div class='card-body mt-3'>
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
        {% block messages %}
            {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                    <li{% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>
            {% endif %}{% endblock %}
            {% block content %}
                {{ content }}
            {% endblock %}

            <br class="clear">
        </div>


        <!-- END Content -->
        {% block footer %}
            <div id="footer"></div>
        {% endblock %}
    </div>
    <link type='text/css' rel='stylesheet' href='{% static 'css/style.min.css' %}'>
{% endblock %}
