{% extends 'base_site.html' %}
{% load static %}


{% block style %}
    <link rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css'>
{% endblock %}


{% block main-content %}
    <form id='postman' method='POST' enctype='multipart/form-data' class='card-body container' onsubmit='submitForm(event)'>
        <div class='row mt-4 mx-0'>
            <div class='nav nav-tabs col-6 d-flex justify-content-start mb-0' id='nav-tab' role='tablist'>
                <a class='nav-item nav-link active' id='nav-link-tab' data-bs-toggle='tab' href='#nav-link' role='tab' aria-controls='nav-link' aria-selected='false'>
                    <i class='fa fa-link'></i> 링크 분석
                </a>
                <a class='nav-item nav-link' id='nav-text-tab' data-bs-toggle='tab' href='#nav-text' role='tab' aria-controls='nav-text' aria-selected='true'>
                    <i class='fa fa-file-text'></i> 택스트 분석
                </a>
                <a class='nav-item nav-link' id='nav-file-tab' data-bs-toggle='tab' href='#nav-file' role='tab' aria-controls='nav-file' aria-selected='false'>
                    <i class='fa fa-file'></i> 파일 분석
                </a>
            </div>

            <div class='nav nav-tabs col-6 d-flex justify-content-end p-0 mb-0' id='nav-tab' role='tablist'>
                <a class='nav-item nav-link hidden' href='#' onclick="toDatabase('{{ url }}')">
                    <i class='fa fa-upload'></i> DB 업로드
                </a>
                <a class='nav-item nav-link hidden' href='#' onclick='print();'>
                    <i class='fa fa-download'></i> 파일 내보내기
                </a>
                <button class='nav-item nav-link' type='submit'>
                    <i class='fa fa-exchange '></i> 구문 분석
                </button>
            </div>
        </div>

        <div class='tab-content border border-top-0 container-fluid py-4' id='nav-tabContent'>
            <div class='tab-pane fade show active' id='nav-link' role='tabpanel' aria-labelledby='nav-link-tab'>
                <div class='row col-12'>If you use chrome please check out: <a target='_blank' href='https://alfilatov.com/posts/run-chrome-without-cors/'>Chrome CORS Policy Fix</a></div>

                <div class='row'>
                    <div class='row m-2'>
                        <div class='col'>
                            <label class='col-form-label' for='{{ form.url.id_for_label }}'>{{ form.url.label }}</label>
                            <div class='col input-group'>
                                {{ form.request }}{{ form.url }}
                            </div>
                        </div>
                    </div>

                    <div class='nav nav-tabs w-100' id='myTab' role='tablist'>
                        <button class='nav-item nav-link active' id='auth-tab' data-bs-toggle='tab' data-bs-target='#auth' type='button' role='tab' aria-controls='auth' aria-selected='true'>
                            Authorization
                        </button>
                        <button class='nav-item nav-link' id='header-tab' data-bs-toggle='tab' data-bs-target='#header' type='button' role='tab' aria-controls='header' aria-selected='false'>Header
                        </button>
                        <button class='nav-item nav-link' id='body-tab' data-bs-toggle='tab' data-bs-target='#body' type='button' role='tab' aria-controls='body' aria-selected='false'>Body</button>
                    </div>
                    <div class='tab-content' id='myTabContent'>
                        <div class='tab-pane fade container-fluid show active' id='auth' role='tabpanel' aria-labelledby='auth-tab'>
                            <div class='row m-2'>
                                <div class='col input-group'>
                                    <label class='col-form-label' for='{{ form.username.id_for_label }}'>{{ form.username.label }} & {{ form.password.label }}</label>
                                    {{ form.username }} {{ form.password }}
                                </div>
                            </div>
                        </div>

                        <div class='tab-pane fade container-fluid' id='header' role='tabpanel' aria-labelledby='header-tab'>
                            <table class='table table-striped table-responsive'>
                                <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                    <th>
                                        <button class='btn btn-outline-primary' type='button' onclick='add_row()'>Add</button>
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr id='empty-form' hidden>
                                    <td>{{ form.key }}</td>
                                    <td>{{ form.value }}</td>
                                    <td>
                                        <button class='btn btn-outline-primary' type='button' onclick='delete_row($(this).parent().parent())'>
                                            <i class='fa fa-trash-o'></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class='tab-pane fade container-fluid' id='body' role='tabpanel' aria-labelledby='body-tab'>Body</div>
                    </div>
                </div>
            </div>

            <div class='tab-pane fade' id='nav-text' role='tabpanel' aria-labelledby='nav-text-tab'>
                <div class='row'>
                    <div class='col'>
                        <label>{{ form.text.label }}:</label>
                        {{ form.text }}
                    </div>
                </div>
            </div>

            <div class='tab-pane fade' id='nav-file' role='tabpanel' aria-labelledby='nav-file-tab'>
                <div class='row'>
                    <div class='col'>
                        <label>{{ form.html_file.label }}:</label>
                        {{ form.html_file }}
                    </div>
                </div>
            </div>
        </div>

        <pre class='row col well mt-4 mx-0'>
            <code id='url'>&ltREQUEST TYPE&gt &ltRequest URL&gt </code>
        </pre>


        <div class='nav nav-tabs col d-flex justify-content-start mb-0' id='nav-tab' role='tablist'>
            <a class='nav-item nav-link active' id='nav-HTML-tab' data-bs-toggle='tab' href='#nav-HTML' role='tab' aria-controls='nav-HTML' aria-selected='true'>
                <i class='fa fa-file-text'></i> XML/HTML
            </a>
            <a class='nav-item nav-link' id='nav-table-tab' data-bs-toggle='tab' href='#nav-table' role='tab' aria-controls='nav-table' aria-selected='true'>
                <i class='fa fa-table'></i> Table
            </a>
        </div>

        <div class='tab-content border border-top-0 container-fluid py-4' id='nav-tabContent'>
            <div class='tab-pane fade show active' id='nav-HTML' role='tabpanel' aria-labelledby='nav-text-tab'>
                <pre class='row col well mx-0'>
                    <code id='resultML'>Result XML/HTML Code here!</code>
                </pre>
            </div>

            <input type='hidden' id='json_data'>
            <div class='tab-pane fade row col mx-0 table-responsive' id='nav-table'>Result Table here!</div>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            $.getJSON("{% static 'HT_to_ECK_id.json' %}", (json) => {
                HT_to_ECK_id = json;
            });
        });
    </script>
{% endblock %}
