{% extends 'base_site.html' %}
{% load static custom_tags %}


{% block style %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css' integrity='sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==' crossorigin='anonymous'/>
{% endblock %}


{% block main-content %}
    <form id='search' method='POST' onsubmit='submitForm(event)'>
        <div class='card-header d-flex align-items-center justify-content-between'>
            <h5 class='my-2'>
                <i class='header-icon lnr-charts icon-gradient bg-happy-green'> </i>
                API: API endpoint that represents ...
            </h5>

            <div class='align-items-right my-2'>
                <div class='ml-auto'>
                    <a class='btn btn-primary hidden' href='#' onclick="toDatabase('{{ url }}')">
                        <i class='fa fa-upload'></i> DB 업로드
                    </a>
                    <a class='btn btn-primary hidden' href='#' onclick='print();'>
                        <i class='fa fa-download'></i> 파일 내보내기
                    </a>
                    <button class='btn btn-primary' type='submit'>
                        <i class='fa fa-exchange '></i> 찾기
                    </button>
                </div>
            </div>
        </div>

        <div class='card-body container'>
            <pre class='row col well mx-0'>
                <code>GET http://api.visitkorea.or.kr/openapi/service/rest/</code>
            </pre>

            <div class='card card-body shadow-none border-1'>
                <div class='row'>
                    <div class='col-4'>
                        <label for='{{ form.service.id_for_label }}'>{{ form.service.label }}</label>
                        {{ form.service }} {{ form.serviceKey }}
                    </div>

                    <div class='col-4' onclick="changeLastDiv($(this).find(':selected'))">
                        <label for='{{ form.area.id_for_label }}'>{{ form.area.label }}</label>
                        {{ form.area }}
                    </div>

                    <div class='col-2'>
                        <label for='{{ form.pageNo.id_for_label }}'>{{ form.pageNo.label }}</label>
                        {{ form.pageNo }}
                    </div>

                    <div class='col-2'>
                        <label for='{{ form.numOfRows.id_for_label }}'>{{ form.numOfRows.label }}</label>
                        {{ form.numOfRows }}
                    </div>
                </div>

                {% for item, detail in others|zip:details %}
                    <fieldset class='row mt-2 last {{ item.0 }}' {% if not forloop.first %}hidden{% endif %}>
                        <div class='col-6'>
                            {% if forloop.first %}

                                <label for='{{ form.eventStartDate.id_for_label }}'>{{ form.eventStartDate.label }}</label>
                                <div class="input-group input-date">
                                    {{ form.eventStartDate }}
                                    <span class="input-group-text">to</span>
                                    {{ form.eventEndDate }}
                                </div>

                            {% elif forloop.last %}

                                <label for='{{ form.contentTypeId.id_for_label }}'>{{ form.contentTypeId.label }}</label>
                                <div>{{ form.contentTypeId }}</div>

                            {% endif %}
                        </div>
                        <div class='col-6'>
                            <label>{{ item.1 }} 설명서</label>
                            <div>
                                {{ detail }}
                            </div>
                        </div>
                    </fieldset>
                {% endfor %}
            </div>

            <pre class='row col mt-4 well mx-0'>
                <code id='url' style='max-height: 20px'>Result URL here!</code>
            </pre>

            <div class='nav nav-tabs d-flex justify-content-start mb-0' id='nav-tab' role='tablist'>
                <a class='nav-item nav-link active' id='nav-HTML-tab' data-bs-toggle='tab' href='#nav-HTML' role='tab' aria-controls='nav-HTML' aria-selected='true'>
                    <i class='fa fa-file-text'></i> XML/HTML
                </a>
                <a class='nav-item nav-link' id='nav-table-tab' data-bs-toggle='tab' href='#nav-table' role='tab' aria-controls='nav-table' aria-selected='true'>
                    <i class='fa fa-table'></i> Table
                </a>
            </div>

            <div class='tab-content border border-top-0 container-fluid py-4' id='nav-tabContent'>
                <div class='tab-pane fade show active' id='nav-HTML' role='tabpanel' aria-labelledby='nav-text-tab'>
                    <pre class='row col well mx-0'>
                        <code id='resultML'>Result XML/HTML Code here!</code>
                    </pre>
                </div>

                <input type='hidden' id='json_data'>
                <div class='tab-pane fade row col mx-0 table-responsive' id='nav-table' style='overflow-x: auto;'>Result Table here!</div>
            </div>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("{% static 'data/TOUR_to_ECK_id.json' %}", (json) => {
                TOUR_to_ECK_id = json;
            });

            $('.input-date input').each(function () {
                $(this).datepicker({format: 'yyyymmdd', startView: 2, todayBtn: 'linked', clearBtn: true, orientation: 'bottom auto'});
            });
            getTourValues({service: 'KorService', area: 'categoryCode', numOfRows: 10, pageNo: 1, serviceKey: '{{ api_key }}'}, getCat, true, 'xml');
        });
    </script>
{% endblock %}
