{% extends 'base_site.html' %}
{% load static %}


{% block style %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css' integrity='sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=='
          crossorigin='anonymous'/>
{% endblock %}


{% block main-content %}
    <form id='search' method='POST' onsubmit='submitForm(event)'>
        <div class='card-header d-flex align-items-center justify-content-between'>
            <h5 class='my-2'>
                <i class='header-icon lnr-charts icon-gradient bg-happy-green'> </i>
                API: API endpoint that represents ...
            </h5>

            <div class='align-items-right my-2'>
                <div class='ml-auto'>
                    <a class='btn btn-primary hidden' href='#' onclick="toDatabase('{{ url }}')">
                        <i class='fa fa-upload'></i> DB 업로드
                    </a>
                    <a class='btn btn-primary hidden' href='#' onclick='print();'>
                        <i class='fa fa-download'></i> 파일 내보내기
                    </a>
                    <button class='btn btn-primary' type='submit'>
                        <i class='fa fa-exchange '></i> 찾기
                    </button>
                </div>
            </div>
        </div>

        <div class='card-body container'>

            <pre class='row col well mx-0'>
                <code>GET http://api.visitkorea.or.kr/openapi/service/rest/</code>
            </pre>

            <div class='card card-body shadow-none border-1'>
                <div class='row'>
                    <div class='col-6'>
                        <label for='{{ form.service.id_for_label }}'>{{ form.service.label }}</label>
                        {{ form.service }}
                    </div>

                    <div class='col-6' onclick="changeLastDiv($(this).find('select'))">
                        <label for='{{ form.area.id_for_label }}'>{{ form.area.label }}</label>
                        {{ form.area }}
                    </div>
                </div>

                <div class='row'>
                    <div class='col-3'>
                        <label for='{{ form.pageNo.id_for_label }}'>{{ form.pageNo.label }}</label>
                        {{ form.pageNo }}
                    </div>

                    <div class='col-3'>
                        <label for='{{ form.numOfRows.id_for_label }}'>{{ form.numOfRows.label }}</label>
                        {{ form.numOfRows }}
                    </div>

                    <fieldset id='searchFestival' class='col-6 last'>
                        <label for='{{ form.eventStartDate.id_for_label }}'>{{ form.eventStartDate.label }}</label>
                        <div class="input-group input-date">
                            {{ form.eventStartDate }}
                            <span class="input-group-text">to</span>
                            {{ form.eventEndDate }}
                        </div>
                    </fieldset>

                    <fieldset id='categoryCode' class='col-6 last' hidden>
                        <label for='{{ form.cat1.id_for_label }}'>{{ form.cat1.label }} / {{ form.cat2.label }} / {{ form.cat3.label }}</label>
                        <div class="input-group">
                            {{ form.cat1 }} {{ form.cat2 }} {{ form.cat3 }}
                        </div>
                    </fieldset>
                </div>
            </div>

            <pre class='row col mt-4 well mx-0'>
                <code id='url'>Result URL here!</code>
            </pre>

            <div class='nav nav-tabs d-flex justify-content-start mb-0' id='nav-tab' role='tablist'>
                <a class='nav-item nav-link active' id='nav-HTML-tab' data-bs-toggle='tab' href='#nav-HTML' role='tab' aria-controls='nav-HTML' aria-selected='true'>
                    <i class='fa fa-file-text'></i> XML/HTML
                </a>
                <a class='nav-item nav-link' id='nav-table-tab' data-bs-toggle='tab' href='#nav-table' role='tab' aria-controls='nav-table' aria-selected='true'>
                    <i class='fa fa-table'></i> Table
                </a>
            </div>

            <div class='tab-content border border-top-0 container-fluid py-4' id='nav-tabContent'>
                <div class='tab-pane fade show active' id='nav-HTML' role='tabpanel' aria-labelledby='nav-text-tab'>
                    <pre class='row col well mx-0'>
                        <code id='resultML'>Result XML/HTML Code here!</code>
                    </pre>
                </div>

                <input type='hidden' id='json_data'>
                <div class='tab-pane fade row col mx-0' id='nav-table' style='overflow-x: auto;'>Result Table here!</div>
            </div>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous"></script>
    <script>let key = '{{ api_key }}', details = {'service': '', 'area': '', 'numOfRows': '', 'pageNo': ''}, tail = '';</script>
    <script>
        $(document).ready(function () {
            $('.input-date input').each(function () {
                $(this).datepicker({
                    format: 'yyyymmdd', endDate: 'today',
                    startView: 2, todayBtn: 'linked',
                    clearBtn: true, orientation: 'bottom auto'
                });
            });

            $.extend(details, {'service': 'KorService', 'area': 'categoryCode', 'numOfRows': '10', 'pageNo': '1'})
            getTourInfo(key, details, '', getCat);
            getTourInfo(key, {service: 'KorService', area: 'areaBasedList', numOfRows: '100', pageNo: '1'}, '', getContentId);
        });
    </script>
{% endblock %}
