{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1'
          crossorigin='anonymous'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'>

    <link rel='shortcut icon' href='{% static 'images/favicon.ico' %}'/>
    <link type='text/css' rel='stylesheet' href='{% static 'css/style.min.css' %}'>
    <link type='text/css' rel='stylesheet' href='{% static 'css/main.css' %}'>
    {% block style %}{% endblock %}

    <meta name='google-site-verification' content='xVVd_aR6yaFsP1f8avoPEnkkPcjZoKDXLgJkK4MhNHw'/>

    <title>이씨플라자 도구 애플리케이션</title>
</head>


<body data-new-gr-c-s-check-loaded='14.993.0' data-gr-ext-installed=''>
<div class='app-container app-theme-white body-tabs-shadow fixed-headder closed-sidebar'>
    {% if user and user.is_authenticated %}
        {% include 'partials/_navbar.html' %}

        <div class='app-main'>

            {% include 'partials/_sidebar.html' %}
            <div class='app-main__outer'>
                <div class='app-main__inner'>
                    {% if user and user.is_authenticated and title %}
                        <div class='app-page-title'>
                            <div class='page-title-wrapper'>
                                <div class='page-title-heading'>
                                    <div class='page-title-icon'>
                                        <i class='{{ title.0 }}'></i>
                                    </div>

                                    <div>
                                        <h1>{{ title.1 }}</h1>

                                        <div class='page-title-subheading'>{{ title.2 }}</div>
                                    </div>
                                </div>
                                <div class='page-title-actions'>
                                    <button type='button' data-toggle='tooltip' title='' data-placement='bottom' class='btn-shadow mr-3 btn btn-dark' data-original-title='Example Tooltip'>
                                        <i class='fa fa-star'></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class='tabs-animation'>
                        <div class='mb-3 card'>
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
                {% include 'partials/_footer.html' %}
            </div>
        </div>

    {% else %}

        {% block account %}{% endblock %}

    {% endif %}
</div>

<script src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW'
        crossorigin='anonymous'></script>
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-188561512-1'></script>
<script type='text/javascript' src='{% static 'js/main.js' %}'></script>
<script src='{% static 'js/traffic.js' %}'></script>
{% block script %}{% endblock %}


{% block modal %}{% endblock %}
</body>
</html>
