{% load static custom_tags %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
    <meta name="google-signin-client_id" content="15932304901613974284.apps.googleusercontent.com">

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'
          integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1'
          crossorigin='anonymous'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'>

    <link rel='shortcut icon' href='{% static 'images/favicon.ico' %}'/>
    <link type='text/css' rel='stylesheet' href='{% static 'css/style.min.css' %}'>
    <link type='text/css' rel='stylesheet' href='{% static 'css/main.css' %}'>
    {% block style %}{% endblock %}

    <meta name='google-site-verification' content='xVVd_aR6yaFsP1f8avoPEnkkPcjZoKDXLgJkK4MhNHw'/>

    <title>ECPlaza Tools</title>
</head>


<body data-new-gr-c-s-check-loaded='14.993.0' data-gr-ext-installed=''>
<div class='app-container app-theme-white body-tabs-shadow closed-sidebar'>
    {% if user and user.is_authenticated %}
        {% include 'partials/_navbar.html' %}

        <div class='app-main'>
            {% include 'partials/_sidebar.html' %}
            <div class='app-main__outer'>
                <div class='app-main__inner'>
                    {% if user and user.is_authenticated and title %}
                        <div class='app-page-title'>
                            <div class='page-title-wrapper'>
                                <div class='page-title-heading'>
                                    <div class='page-title-icon'>
                                        <i class='{% if 'admin' in request.path %}pe-7s-rocket{% else %}{{ title.0 }}{% endif %}'></i>
                                    </div>

                                    <div>
                                        <h1>
                                            {% if 'admin' in request.path %}
                                                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                                            {% else %}
                                                {{ title.1 }}
                                            {% endif %}
                                        </h1>

                                        <div class='page-title-subheading'>
                                            {% if 'admin' in request.path %}
                                                {% block breadcrumbs %}{% endblock %}
                                            {% else %}
                                                {{ title.2 }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class='page-title-actions'>
                                    <button type='button' data-toggle='tooltip' title='' data-placement='bottom' class='btn-shadow mr-3 btn btn-dark' {% if request.path == '/' %}onclick='location.reload(true);'{% endif %}>
                                        <i class='fa {% if request.path == '/' %}fa-refresh{% else %}fa-star{% endif %}'></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class='tabs-animation'>
                        <div class='mb-3 card container-fluid'>
                            {% block main-content %}{% endblock %}
                        </div>

                        {% block extra-content %}{% endblock %}
                    </div>
                </div>
                {% include 'partials/_footer.html' %}

                <div class='chat-box position-fixed bottom-0 end-0'>
                    <a class='chat-head card-header d-flex justify-content-between' data-bs-toggle='collapse'
                       href='#chat-content' onclick='chatClick()' role='button' aria-expanded='false'
                       aria-controls='collapseExample'>
                        <h4 class='card-title'><strong>Live Chat</strong></h4>
                        <i class='fa fa-chevron-up'></i>
                    </a>

                    <div class='chat-body collapse ps-container ps-theme-default ps-active-y' id='chat-content'>
                        <div class='card-footer position-fixed bottom-0 end-0 chat-text publisher bt-1 border-light d-flex justify-content-between'>
                            <img class='avatar' src="{% static 'images/user.png' %}" alt='...' width='42'>
                            <input class='publisher-input' type='text' placeholder='Write something'
                                   aria-label='Chat Input' onkeypress='addMsg(this, "{% url 'chatterbot' %}");'>

                            <div class='my-2'>
                                <span class='publisher-btn file-group mr-1'>
                                    <i class='fa fa-paperclip file-browser'></i>
                                    <input type='file'>
                                </span>
                                <a class='publisher-btn mr-1' href='#' data-abc='true'><i class='fa fa-smile-o'></i></a>
                                <a class='publisher-btn text-info' href='#' data-abc='true'><i class='fa fa-paper-plane'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class='bg-primary text-white top' onclick="topFunction()" id="myBtn" title="Go to top">
            <i class='fa fa-chevron-up'></i>
        </button>

    {% else %}

        {% block account %}{% endblock %}

    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous'></script>
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-188561512-2'></script>
<script src='https://apis.google.com/js/api.js'></script>

<script type='text/javascript' src='{% static 'js/index.js' %}'></script>
<script type='text/javascript' src='{% static 'js/main.js' %}'></script>
<script type='text/javascript' src='{% static 'js/chat.js' %}'></script>
<script id='traffic_js' src='{% static 'js/traffic.js' %}'></script>
<script>
    $(document).ready(function () {
        $('table').addClass('table table-responsive');
        $('li').attr('style', 'list-style-type: none;');
        $('#changelist-filter').find('ul').addClass('row')
            .find('li').addClass('col-1');
        $('label').attr('style', 'color: #000000 !important; visibility: initial !important;')
        $('.breadcrumbs').removeClass('breadcrumbs');
        $('input:radio').removeClass('form-check form-check-inline');

        $.ajax("{% url 'token' %}").done(function (resp) {
            let access_token = resp,
                types = ['users', 'newUsers', 'sessions', 'bounces', 'transactions'],
                url = 'https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A237994931&start-date=yesterday&end-date=yesterday&metrics=ga%3A',
                final_url = url + types.join('%2Cga%3A') + "&access_token=" + access_token;
            loadAjax('', {url: final_url, method: 'GET', types: types}, getAnalyticValues);

            types = ['productAddsToCart', 'productCheckouts', 'itemRevenue', 'productRefunds', 'transactionShipping', 'transactionTax'];
            final_url = url + types.join('%2Cga%3A') + "&access_token=" + access_token;
            loadAjax('', {url: final_url, method: 'GET', types: types}, getAnalyticValues);
        })
    });
</script>
{% block script %}{% endblock %}

{% block modal %}{% endblock %}
</body>
</html>
